/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {background: #E3E3E3;font-family:Arial,Helvetica,sans-serif;font-size:15px;}
h1,h2,h3,h4,h5,h6 {letter-spacing: normal;}
.row h2 {font-size:1.8em;margin-bottom:20px;}
.row h3 {font-size:1.5em;margin-bottom:20px;}
.pagebody h3 {font-size:1.5em;margin:30px 0 10px;}
.pagebody h4 {font-size:1.1em;margin:0;}
.pagebody h5 {font-size:1.0em;margin:0;}
a {color:#066069;}

.spacer20 {min-height:20px;}
.nomargin {margin:0;}
.inline-block {display:inline-block;}
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.pageheader {background:#128390;min-height:64px;border-radius:0 0 8px 8px;padding:20px;}
.pageheaderb {background:#473B3C;min-height:18px;border-radius:0;padding:10px;}
.pageheaderb2 {background:#665C5B;min-height:24px;border-radius:0;padding:10px;}
.pagebody {background:#fff; border: 10px solid #EDEDED;padding:20px 15px;position:relative;z-index:0;}
.pagebody-divider {border-top: 10px solid #EDEDED;z-index:0;min-height:30px;margin:0 -20px;}

.headpatient {}
.headpatient h3 {margin:0; display: inline-block;}

.dashboard-panels {font-size:0.9em;padding-bottom:15px;}
.dashboard-panels h3 {margin:0;}
.flags {display:inline:block;}

.breadcrumbs {padding:20px 0;}
ul.tablist {list-style-type: none;}
ul.tablist li {background:#fff; border: 10px solid #EDEDED;margin-bottom:10px;font-size:1.2em;position:relative;}
ul.tablist li a {display:block; text-decoration: none; color:#000;padding:15px;}


ul.tabmenu {list-style-type: none;margin: 0 20px -27px;z-index:100;position:relative;}
ul.tabmenu li {display:inline-block; margin-right:5px;}
ul.tabmenu li a {display:inline-block;text-decoration: none; color:#fff;padding:8px 16px;font-size:0.9em;background:#665C5B;border-radius:8px 8px 0 0; border:1px solid #665C5B;border-bottom:0;}
ul.tabmenu li a:hover,ul.tabmenu li .active {background:#fff; color:#000;}


.tabacc {border:1px solid #000;border-radius:8px;background:#E6EAE6;position:relative;margin-bottom:5px;}    
.tabacc-head {padding:15px;display:block;position:relative;font-size:1.1em;}    
.tabacc-head-r {float:right;margin-right:15px;font-size:0.8em;}
.tabacc-head-icon {float:right;margin-top:-5px;}
.tabacc-body {background:#F1F3F1;padding:15px;border-radius:0 0 8px 8px;display:none;}
.tabacc-close {display:none;}


ul.modlist {list-style-type: none;margin:0;}
ul.modlist li {background:#fff; border: 1px solid #000;border-radius:8px;margin-bottom:3px;position:relative;}
ul.modlist li a {display:block;text-decoration: none; color:#000;padding:4px 8px;font-size:0.9em;position:relative;}


.form-dd-small {font-size:0.9em;padding:4px;margin:0;height:auto;width:100px;display:inline-block;}
.form-box-small {font-size:0.9em;padding:4px;margin:0;height:auto;width:auto;display:inline-block;}
.form-box-small .label-body {margin-left:4px;}



.buttoncontrols-right {text-align:right;display:block;}
.button {border-radius:8px;text-transform: none; border: 0;  font-weight:normal; font-size: 0.9em;letter-spacing:normal}
.button-sob {background:#128390; color:#fff;}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
