/* ==========================================================================
	 normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css 
	 ========================================================================== */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}



/* ==========================================================================
	 1177 CSS
	 ========================================================================== */
	
	html,
	body
	{ 
		height: 100%;
	}
	
	.wrapper
	{
		min-height: 100%;
		height: auto !important;
		height: 100%;
	}
	
	img {max-width:100%;}
	.img50 {max-width:50%;}
	.img25 {max-width:25%;}
	.imgright {float:right;}
	.imgleft {float:left;}
	.imgcenter {margin:0 auto;}
	
.tooltip_templates {
	
	
	display:none;
}
	
	
body {
	margin-bottom: 0px;
	padding-bottom: 0px;
	background-color: #e3e3e3;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #333;
	font-size: 14px;
	line-height: 20px;
}




.wrapper {
	position: static;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-bottom: 0px;
}

h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 28px;
	line-height: 44px;
	font-weight: 400;
}
h2 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
}
h3 {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
}
h4 {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}
h5 {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
}
h6 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 700;
}
p {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.5em;
	text-indent: 0px;
}

a {

	color: #00606a;
	text-decoration: underline;   
}

ul.arrowlist { list-style: none;
padding-left: 0;}

ul.arrowlist li:before {
		content: "\00BB  ";
}



#countdown p {
	display: inline-block;
	padding: 5px;
}



.button {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px 20px;
	border: 1px solid #008391;
	border-radius: 8px;
	background-color: #008391;
	background-image: -webkit-linear-gradient(#128693, #006a7b);
	background-image: linear-gradient(#128693, #006a7b);
	color: white;
	text-align: center;
	text-decoration: none;
	cursor:pointer;
}

.button2 {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px 20px;
	border: 1px solid #008391;
	border-radius: 8px;
	background-color: #008391;
	background-image: -webkit-linear-gradient(#128693, #006a7b);
	background-image: linear-gradient(#128693, #006a7b);
	color: white;
	text-align: center;
	text-decoration: none;
}

.button.is-alert  {
	
	background-image: -webkit-linear-gradient(#EE8C91, #E65557);
	background-image: linear-gradient(#EE8C91, #E65557);
	
}

.button:hover {
	border: 1px solid #008391;
	background-color: white;
	background-image: none;
	background-position: 0% 0%;
	background-size: auto;
	background-repeat: repeat;
	background-attachment: scroll;
	color: #008391;
}

.button.is-tight {
	
	padding:8px 16px;
	margin:0;
	border:0;
}

.button.is-small {
	
	padding:4px 8px;
	margin:0;
	border:0;
}

.button.is-block {
	
	display:block;
	margin:0;
	border:0;
	clear:both;
}

._1177-header {
	position: static;
	display: block;
	max-width: 960px;
	min-height: 66px;
	margin-right: auto;
	margin-left: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #008391;
}


._1177-logo-block {
	display: block;
	height: 60px;
	padding-left: 20px;
	float: left;
	position: relative;
}

._1177-logo-img {
		
		float:left;
		
}

._1177-sitetitle, h1._1177-sitetitle {
		margin:0;
		padding:0;
		font-size: 18px;
		color: #fff;
		line-height: 1em;
		font-weight:normal;
		display:block;
		position:relative;
		width:500px;
}


._1177-sitename {
	
	font-size: 18px;
		font-weight:normal;

		position:absolute;
		top:20px;
		left:130px;
		
}

._1177-settings {
	display: inline-block;
}
.link-userblock {
	display: inline-block;
	color: white;
}
._1177-logout {
	display: inline-block;
	margin-left: 0;
	padding-left: 20px;
	background-position: 0px 50%;
	background-repeat: no-repeat;
}
._1177-currentuser {
	display: block;
	clear: none;
	color: white;
}



._1177-user {
	position: static;
	top: 13px;
	right: 20px;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	padding-top: 10px;
	padding-right: 20px;
	float: right;
	text-align: right;
}
.breadcrumbs-container {
	clear: both;
	padding-top: 20px;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.breadcrumbs {
	
	margin-bottom: 20px;
	padding-left: 20px;
	font-size: 16px;
}


.heading-container {
	clear: both;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.heading {
	padding-left:20px;
}


.navtabs-container {
	clear: both;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.navtabs {
	padding-left:20px;
	position:relative;
	margin-bottom:-10px;
}

.navtabs-list {
	list-style: none;
	list-style-type: none;
	margin:0;
	padding:0;
}

.navtabs-item {
	display: inline-block;
	position:relative;
	
}

.navtabs-item a {
	display: inline-block;
	padding:8px 16px;
	background: #1C838F;
	text-decoration:none;
	color:#fff;
	margin-right:12px;
	border-radius:4px 4px 0 0;
	font-size:0.9em;
	font-weight:bold;
	vertical-align: bottom;
	position:relative;
}

.navtabs-item.is-doctor a {
	
	background: #bbab9b;
}


.navtabs-item.is-subtabs a {
	
	background: #BCAB9C;
}

.navtabs-item.is-subtabs.is-active a, .navtabs-item.is-subtabs a:hover {
	
	background: #faf8f7;border:1px solid #e5dedb;border-bottom:0;margin-bottom:-1px;
}


.navtabs-item.is-active a, .navtabs-item a:hover {
	background: #fff;
	color:#000;
	padding:12px 16px;
}

.navtabs-counter-alert; {
	position:absolute;
	top:-5px;
	right: -5px;
}


.momenttab-container {
	
	border:8px solid #ededed;
	max-width:920px;
	margin:0 auto 8px;
}

.momenttab-inside {
	
	cursor:pointer;
	background:#fff;
}

.momenttab-icon {
	
	background: #ee6163;display:inline-block; padding:30px 15px; margin-left:8px; color:#fff; vertical-align:middle;
}

.momenttab-name {
	
	display:inline-block; vertical-align:middle;margin-left:16px;
}

.momenttab-link {
	text-decoration:none;font-size:26px;color:#000;
}

.momenttab-arrow {
	
	display:inline-block;float:right;padding:30px 30px;
}




.singletab-container {
	
	border:1px solid #ededed;
	margin:0 auto 8px;
}

.singletab-inside {
	
	cursor:pointer;
	background:#fff;
	padding:8px 16px;
}

.singletab-icon {
	
	background: #ee6163;display:inline-block; padding:30px 15px; margin-left:8px; color:#fff; vertical-align:middle;
}

.singletab-label {
	
	display:inline-block; vertical-align:middle;
}

.singletab-info {
	
	display:inline-block; vertical-align:middle;margin-right:16px;
}


.singletab-extra {
	
	display:inline-block;vertical-align: middle;float:right;text-align: right;
}

.singletab-link {
	text-decoration:none;color:#000;
}

.singletab-arrow {
	
	display:inline-block;
}


.singletab-container.is-moment .singletab-inside {
	background: #1d838f; color: #fff; border-radius: 4px;
}

.singletab-container.is-moment .singletab-link {
	color: #fff; font-weight:bold;
}



.pagination-container {
	clear: both;
	max-width: 800px;
	margin-top:30px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.pagination-list {
	margin-top:30px;
	list-style: none;
	list-style-type: none;
	margin:0;
	padding:0;
}

.pagination-item {
	display: inline-block;
	margin-bottom:8px;
}

.pagination-item a {
	display: inline-block;
	padding:8px 4px 6px;
	width:30px;
	height:25px;
	text-align:center;
	background: #795331;
	text-decoration:none;
	color:#fff;
	margin-right:4px;
	font-size:0.9em;
	font-weight:bold;
	vertical-align: bottom;
	position:relative;
	border: 1px solid #604225;
}

.pagination-item.is-active a, .pagination-item a:hover {
	background: #fff;
	color:#000;
}

.main-medium {
	max-width: 630px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	border-radius: 8px;
	background-color: white;
}

.main-wide {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
	border-radius: 8px;
	background-color: white;
}

.main-wide.square {border:10px solid #ededed;border-radius:4px;}

.main-wide h2:first-child, .main-medium h2:first-child {margin-top:0;padding-top:0;}

.step-contents p {max-width:900px;margin:0 auto;font-size:1.1em;margin-bottom:1em;}

.row-main {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 30px;
	color: black;
}
.link {
	color: #00606a;
	text-decoration: underline;
}

.alert-warning {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f8e2a6;
}

._1177-footer {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
._1177-tagline-block {
	min-height: 66px;
	border-radius: 0px;
	background-color: #008391;
	color: white;
	line-height: 20px;
}
._1177-links {

	min-height: 40px;
	margin:0;
	padding:0;
	border-radius: 10px 10px 0px 0px;
	background-color: #d2d4ce;
	line-height: 20px;
}

._1177-links-row {
		padding:0;
		padding-top:11px;
		padding-bottom:11px;
		display: block;
}

.footer-link {
	display: inline;
	margin-right: 5px;
	margin-left: 5px;
	color: #17646f;
	font-size: 16px;
}

._1177-tagline-text {
	padding-top: 22px;
	padding-right: 12px;
	padding-left: 12px;
	border-radius: 0px;
}

.footerblock1177 {
	text-align: center;
}

.link-negative {
	color: white;
}

.footer-link-text {
	padding-right: 5px;
	padding-left: 5px;
	color: #00606a;
	font-size: 14px;
}

._1177-header-content {
	display: block;
}

.delegate-container {
	display: block;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0px;
	padding-left: 0px;
}

.delegate-block {
	
		min-width: 600px;
		max-width: 600px;
	margin: 0px 10px 0px 0px;
	padding: 10px 15px;
	float: right;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #f8e2a6;
}

.delegate-header {
	margin-bottom: 10px;
		font-weight: 700;
}
._1177-delegate-settings {
	display: inline;
	margin-left: 15px;
	float: right;
	font-weight:normal;
}

._1177-delegate-title {
	display: inline-block;
	float: left;
	
}
._1177-header-info {
	display: inline-block;
}
._1177-delegate-expand {
	padding-top: 10px;
	clear: both;
}

#delegate-expand {
		display:none;   
}


.icon-footer {
 vertical-align: middle;   
}

img.extlink {
	vertical-align: middle;
}

.spacer-bc-top-20 {
	height: 20px;
	min-height: 20px;
}

img.moreinfo {
		vertical-align: top;
		margin-left:5px;
}

/* FLAGS */

.flag-ok { background: #336a37; padding:8px 8px; color:#fff; display:inline-block; max-width:20px; max-height:20px; }

	


/* COLUMNS */

.columns {max-width:960px;margin:0 auto;}

.col1 {
	
	display:inline-block;
	width:49%;
}

.col2 {
	
	display:inline-block;
	width:49%;
	float:right;
}


/* CARD */

.card {background:#fff;padding:15px;margin-bottom:20px;}
.card h2 {font-size:1.2em;margin:0;padding:0;line-height:1.2em;}

/* FORMS */



label { display:block; font-weight:bold;}

label.patient {font-size: 1.3em;font-weight:normal;border-bottom:1px solid #ccc;padding:2px 0 8px;margin:16px 0 8px;}
input {padding:4px 8px;}

select { display:block;}
select.is-wide,input.is-wide { width:100%;}

textarea { width:90%; background:#e6e6e6; padding:8px;margin:8px 0;height:100px;}

.formstandard td {padding:6px;}

/* TABLES */



.data-table {
	
	width:100%;margin-top:8px;
	text-align:left;
	border: 2px solid #000;
	
}

.data-table thead {background: #e2d4d4;}

.data-table td,.data-table th {
	
	padding:4px 12px;vertical-align:middle;
}

.data-table td {
	
	background: #f8f4f4;
}


.people-table {
	
	width:100%;margin-top:8px;
	text-align:left;
	
}

.people-table td,.people-table th {
	
	padding:4px;vertical-align:middle;
}

.tr-odd {background:#d5d4cf;}

.tr-even {background:#e5dedb;}



/* SPACERS */

.spacer16 {height:16px;}
.spacer8 {height:8px;}

/*  EXPANDABLE */


.expandable-container {
	
	border:1px solid #000;
	
	border-radius:8px;
	background: #e6eae6;
	padding:0;margin:0;
	margin-bottom:8px;

	
}

.expandable-header {
	
	display: block;
	cursor: pointer;
	padding:20px;
	border-radius:8px;
	
}



.expandable-header h4,.expandable-header h3 {
	
	font-size:16px;
	font-weight:400;
	margin:0;padding:0;
	
}

.exh-icon {
	
	display: inline-block;
	vertical-align: middle;
	margin-right:8px;
	
}

.exh-guide {
	
	display: inline-block;
	vertical-align: middle;

	
}

.exh-extra {
	
	display: inline-block;
	vertical-align: middle;
	float:right;
	margin-top:6px;

	
}
.is-modulep .exh-extra {
	
	margin-top:2px;
}

.exh-info {
	
	display: inline-block;
	
	margin-right:30px;
	
}

.exh-controls {
	
	display: inline-block;
	
	margin-right:10px;
	
}

.is-messages .exh-controls {
	
	margin-top:8px;
	
}



.exh-row2 {
	
	display:block;
	margin-top:-5px;
}

.expandable-content {
	display:none;
	
	
	padding:0;margin:0;
	border-radius: 0 0 8px 8px;
}


.expandable-content.is-primary,.expandable-content.is-messages {
	padding:10px 15px;
	
}

.expandable-content.is-primary {
	background:#f1f3f1;
}

.expandable-content.is-messages, {
	
	background:#eee;

		
}

.expandable-header.is-messages {
	
	padding:8px 12px;
	background:#eee;
		
}

.expandable-container.is-momentlist {
	
	border-radius: 0;
	border:0;
}

.expandable-container.is-momentlist .expandable-header {
	
	background: #675d5a;
	color:#fff;
	border-radius:0;
	
}

.expandable-container.is-momentlist .expandable-content {
	
	padding:0;margin:0;border-radius:0;	
}



.expandable-container.is-caregiverinfo {
	
	border-radius: 0;
	border:1px solid #999;
}

.expandable-container.is-caregiverinfo .expandable-header {
	
	background: #fff;
	color:#000;
	border-radius:0;
	padding:8px 20px;
	
}

.expandable-container.is-caregiverinfo .expandable-content {
	
	background: #fff;
	color:#000;
	border-radius:0;
	padding:8px 20px;
	
}

.expandable-container.is-momentlist .expandable-content {
	
	padding:0;margin:0;border-radius:0;	
}



.expandable-container.is-modulep {
	
	border-radius: 0;
	border:1px solid #999;
}

.expandable-container.is-modulep .expandable-header {
	
	background: #665b5b;
	color:#fff;
	border-radius:0;
	padding:8px 8px;
	
}

.expandable-container.is-modulep .expandable-content {
	
	padding:8px 12px;margin:0;border-radius:0; background:#fff;
}




.expandable-container.is-activities {
	
	background:#CEE1F8;
}

.expandable-container.is-activities .expandable-header {
	
	background: #CEE1F8;
	
}

.expandable-container.is-activities .expandable-content {
	
	background:#CEE1F8;padding:0 15px;
}




.expandable-container.is-managep .expandable-content {
	
	padding:8px 8px;margin:0; 
}




.expandable-container.is-filter {
	background: #a68eb9;border:0;border-radius:0;
}

.expandable-header.is-filter {
		padding:10px 20px;color:#fff;
}
	
	
.expandable-content.is-filter {
	padding:8px 12px;margin:0;border-radius:0;
	background: #e4dbed;
}



.expandable-container.is-caregiver {
	border:0;background: #555555;
}



.expandable-header.is-caregiver {
	padding:8px 16px;color:#fff;
}

.expandable-header.is-caregiver h3 {
	font-size:14px;
}
	
	
.expandable-content.is-caregiver {
	padding:8px 12px;margin:0;border-radius:0;
	background: #e4dbed;
}



.expandable-container.is-caregiver2 {
	border:0;background: #365b6d;
}


.expandable-header.is-caregiver2 h3 {
	font-size:14px;
}

.expandable-header.is-caregiver2 {
	padding:8px 16px;color:#fff;
}
	
	
.expandable-content.is-caregiver2 {
	padding:8px 12px;margin:0;border-radius:0;
	background: #fff;
}








.control-close {
	
	display:none;
}

.row-main h2 {margin-top:16px;}


.expandable-col1 {
	
	display:inline-block;
	vertical-align: top;
	width:49%;
	
}

.expandable-col2 {
	
	display:inline-block;
	vertical-align: top;
	width:49%;
	float:right;
	
}


.messagebox {
	margin:16px 0;
	border: 1px solid #ccc;
	border-radius: 0 0 4px 4px;
	width:49%;
	clear:both;
	
}

.messagebox.is-patient {
	float:right;
	clear:both;
	
}

.messagebox-header {
	
	padding:4px 8px;
}

.messagebox-body {
	
	padding:4px 8px;
	border-radius: 0 0 4px 4px;
}



.is-patient .messagebox-header {
	
	background: #92c26a;
}

.is-patient .messagebox-body {
	
	background: #dbeacd;
}


.is-doctor .messagebox-header {
	
	background: #555555;
	color:#fff;
}

.is-doctor .messagebox-body {
	
	background:#fff;
}


.step-container {
	
	border:1px solid #000;
	border-radius:4px;
	margin-bottom:4px;
	background: #fff;
	cursor:pointer;
	
}

.step-container a {
	
	text-decoration:none;
	color:#000;
	
}


.step-inside {
	
	display: block;
	padding:4px 8px;
	
}

.step-inside h5 {
	
	font-size:14px;
	font-weight:400;
	margin:0;
	padding:0;
}

.step-guide {
	
	display: inline-block;
	vertical-align: middle;
	
}

.step-extra {
	
	display: inline-block;
	vertical-align: middle;
	float:right;
}


.is-visited {
	background:#d2e9d4;
}

.sendmessage-container {
	
	background:#b5d8e3;
	padding:8px;
}

.expand {
	padding:5px;
}

.form-tight {
	
	margin:0;
	padding: 0;
}


.popup-white {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
}

.popup-white p { font-size:0.7em;text-align:left;margin-bottom:8px; }

.popup-header {margin:0;padding:0;background:#fff;}



/* MEDIA QUERIES */


@media (max-width: 961px) {
	._1177-header {
		border-radius: 0px;
	}

	._1177-footer {
		border-radius: 0px;
	}
	._1177-tagline-block {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	.delegate-container {
		height: auto;
	}
		
	 .main-wide {
		padding-right: 10px;
		padding-left: 10px;
		border-radius: 0px;

		max-width: inherit !important;
	}
	.main-wide.square {border-left:0;border-right:0;}
	.heading {padding-left:8px;}

}
@media (max-width: 767px) {
		
		
	.expandable-col1,.expandable-col2,.col1,.col2,.columns {
		
		display:block;
		width:auto;
		clear:both;
		
	}
	
	
	
	.messagebox {
		display:block;
		width:auto;
		
	}

		
	._1177-header {
		position: static;
		display: block;
		overflow-x: visible;
		overflow-y: visible;
		height: auto;
		min-height: 0px;
	}
	._1177-logo-block {
		display: inline-block;
		margin-bottom: 5px;
		padding-left: 10px;
	}
	
	.footer-link {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 1px solid #979797;
		font-size: 14px;
	}

	._1177-user {
		position: static;
		top: 70px;
		display: block;
		margin-top: 10px;
		margin-right: 10px;
		margin-left: 10px;
		padding-top: 8px;
		padding-right: 0px;
		padding-bottom: 12px;
		float: none;
		clear: left;
		border-top: 1px solid white;
		border-bottom: 1px none white;
		text-align: right;
	}
	.breadcrumbs {
		padding-left: 10px;
		font-size: 14px;
	}
	.main-medium,.main-wide {
		padding-right: 15px;
		padding-left: 15px;
		border-radius: 0px;
		max-width: inherit !important;
	}

	._1177-tagline-block {
		border-radius: 0px;
	}
	._1177-links {
		margin-bottom: 0px;
		padding:0;
		border-radius: 0px;
	}
		
		._1177-links-row {
				
				margin:0;
				padding:0;
				
		}

	._1177-header-content {
		display: block;
	}
	.delegate-block {
		margin-right: 0;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		display:block;
		max-width:0;
		max-width: inherit !important;
		min-width:320px;
		float: none;
	}
	.delegate-header {
		display: block;
		margin-bottom: 0px;
		clear: both;
		text-align: center;
	}
	._1177-delegate-settings {
		display: block;
		float: none;
		clear: both;
	}
	._1177-delegate-title {
		display: block;
		margin-right: auto;
		margin-left: auto;
		float: none;
		clear: none;
	}
		
		.delegate-name {
				white-space:nowrap    
		}
		
}
		
		
@media (max-width: 479px) {
		
	._1177-tagline-text {
		padding-top: 12px;
	}

}